<div class="p-5 rounded-5 bg-body-tertiary rounded-3">
    <h1 class="fw-bold display-5">Alışveriş Sitesi</h1>
    <p class="lead text-danger fw-bold fs-4 ms-5">
        Güvenli Alışverişin Tek Adresi
    </p>
</div>