<div class="text-end">
    <button  id="btnGirisYap" type="button" class="btn btn-outline-light me-2 fw-bold">Giriş</button>
    <a asp-controller="Auth" asp-action="Register" class="btn btn-warning fw-bold">Kayıt Ol</a>
</div>
